html {
    font-family: "Verdana", cursive;
    font-size: 15px;
}

.sign-up-page {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}