<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tery</title>
    <link rel="stylesheet" th:href="@{/assets/styles/login-page.css}"/>
</head>

<body class="login-page">
<div id="login-form">
    <p style="text-align: center; padding-bottom: 5vh; font-size: 22px">Authenticate</p>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" id="username" placeholder="Username" required/>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <input type="submit" value="LOG IN"/>
    </form>

    <div style="width: 60vh; margin-top: 5vh">
        <a style="float: left" href="/login">Forgot your password?</a>
        <a style="float: right" href="/signup">Don't have an account yet?</a>
    </div>
</div>
</body>
</html>